<div class="head">
  <span>Schedule time period</span>
  <span class="close" (click)="close()">
    <img src="/assets/close.svg" style="width: 12px; cursor: pointer" />
  </span>
</div>
<div class="description">
  Schedule your availability as far as two weeks from now
</div>

<div class="time-picker-container">
  <div>
    <span>Start time:</span>
    <mat-form-field [style.width.px]="80">
      <mat-select [(value)]="startTime" [disabled]="isScheduled">
        <mat-option *ngFor="let hour of hours" [value]="hour">
          <span *ngIf="hour === 0">12 AM</span>
          <span *ngIf="hour > 0 && hour < 12">{{ hour }} AM</span>
          <span *ngIf="hour === 12">12 PM</span>
          <span *ngIf="hour > 12">{{ hour - 12 }} PM</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div>
    <span>End time:</span>
    <mat-form-field [style.width.px]="80" class="asd">
      <mat-select [(value)]="endTime" [disabled]="isScheduled">
        <mat-option *ngFor="let hour of hours" [value]="hour">
          <span *ngIf="hour === 0">12 AM</span>
          <span *ngIf="hour > 0 && hour < 12">{{ hour }} AM</span>
          <span *ngIf="hour === 12">12 PM</span>
          <span *ngIf="hour > 12">{{ hour - 12 }} PM</span>
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<div class="checkbox-container">
  <div>
    <mat-checkbox [disabled]="isScheduled">
      Repeat for next two weeks
    </mat-checkbox>
  </div>
  <div>
    <mat-checkbox [disabled]="isScheduled" [(ngModel)]="cost">
      No cost (Sadaqa)
    </mat-checkbox>
  </div>
</div>

<div class="bottom-buttons" *ngIf="!isScheduled">
  <button (click)="delete()">DELETE</button>
  <button (click)="save()">SAVE</button>
</div>
<div class="bottom-buttons" *ngIf="isScheduled">
  <button (click)="close()">OKAY</button>
</div>
