<div class="app">
  <div class="head-container">
    <div class="head-wrapper">
      <div class="head">Select a new Schedule</div>
      <div style="font-weight: bold">{{ startDate | date: "MMMM y" }}</div>
      <div class="purple head">
        {{ currentMonthInArabic }}
      </div>
    </div>
  </div>

  <div class="calender">
    <div class="day-head-container">
      <div class="slot-date-empty"></div>
      <div class="slot-date" *ngFor="let date of daysList">
        <div>{{ date[0] | date: "EEEEE" }}</div>
        <div>
          {{ date[0] | date: "d" }}
        </div>
        <div>
          <span class="arabic-date">{{ date[1] }}</span>
        </div>
      </div>
    </div>
    <div class="shadow"></div>
    <div class="hours-container">
      <div>
        <div
          class="slot-hours"
          *ngFor="let daySlot of daySlotsList[0]; let i = index"
        >
          <span *ngIf="i === 0">12 a</span>
          <span *ngIf="i > 0 && i < 12">{{ i }}</span>
          <span *ngIf="i > 12">{{ i - 12 }}</span>
          <span *ngIf="i === 12">12 p</span>
        </div>
      </div>
      <div *ngFor="let daySlot of daySlotsList">
        <div *ngFor="let slotNode of daySlot; let i = index">
          <div
            class="slot {{ slotNode?.slotId ? 'schedule' : '' }}"
            [style.background-color]="slotNode.color"
            (click)="onClickSlotNode(slotNode)"
          ></div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="purple">CANCEL</button>
    <button disabled>DONE</button>
  </div>
</div>
