<div class="container">
  <div style="margin-bottom: 10px">Select a new Schedule</div>
  <div>November 2019</div>
  <div class="purple" style="margin-bottom: 10px">
    Sha'ban 1441, Rabl'ul awwal 1441
  </div>
  <div>
    <table>
      <tr>
        <td></td>
        <td>S</td>
        <td>M</td>
        <td>T</td>
        <td>W</td>
        <td>T</td>
        <td>F</td>
        <td>S</td>
      </tr>
      <tr>
        <td></td>
        <td *ngFor="let date of daysList">{{ date | date: "d" }}</td>
      </tr>
      <tr>
        <td></td>
        <td *ngFor="let date of daysList">{{ date | date: "d" }}</td>
      </tr>
      <tr *ngFor="let slotRow of slotRows; let i = index">
        <td style="width: calc(100vw / 8)">
          <span *ngIf="i === 0">12 a</span>
          <span *ngIf="i > 0 && i < 12">{{ i }}</span>
          <span *ngIf="i > 12">{{ i - 12 }}</span>
          <span *ngIf="i === 12">12 p</span>
        </td>
        <td
          *ngFor="let slotNode of slotRow"
          class="slot {{ slotNode.color }}"
          [style.background-color]="slotNode.color"
        >
          <span class="adjust-slot" *ngIf="slotNode.showAdjustBar">-</span>
        </td>
      </tr>
    </table>
  </div>
  <div class="buttons">
    <button class="purple">CANCEL</button><button disabled>DONE</button>
  </div>
</div>
