.app {
  --purple: #7117ef;
  text-align: center;
}

.head-container {
  height: 74px;
  text-align: center;
}

.head-wrapper {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.head {
  font-weight: bold;
  margin-bottom: 10px;
}

.purple {
  color: var(--purple);
}

.calender {
  overflow: auto;
  width: 100%;
}

.day-head-container {
  display: flex;
  margin-bottom: 10px;
}

.slot-date-empty {
  min-width: 45px;
}

.slot-date {
  min-width: 44px;
}

.slot-date div:nth-child(2) {
  font-weight: bold;
  border-top: 1px solid #bbbbbb;
  border-right: 1px solid #bbbbbb;
  padding: 5px;
}

.slot-date div:nth-child(3) {
  font-weight: bold;
  border-right: 1px solid #bbbbbb;
  color: var(--purple);
  text-align: left;
}

.arabic-date {
  background-color: #eaeaea;
  display: inline-block;
  margin-top: 2px;
  padding: 3px;
}

.shadow {
  box-shadow: 0 3px 3px 0px #7b7b7b;
  width: 658px;
  height: 1px;
  margin-top: -11px;
  margin-bottom: 10px;
}

.hours-container {
  display: flex;
}

.slot-time {
  font-size: 0.7rem;
  vertical-align: text-bottom;
  width: var(--slot-length);
}

.slot-hours {
  height: 25px;
  margin: 2px;
  min-width: 40px;
}

.slot {
  border: 1px solid #eaeaea;
  border-radius: 2px;
  box-shadow: 1px 1px 0px 0px #f3f3f3;
  height: 25px;
  margin: 2px;
  min-width: 40px;
}

.schedule {
  transform: scaleY(1.1);
  border: none;
}

.adjust-slot:first-child {
  display: inline-block;
  color: white;
  cursor: ns-resize;
  width: 100%;
}

.adjust-slot {
  padding: 5px 0;
}

.adjust-slot hr {
  margin: 0 5px;
}

.adjust-slot hr + hr {
  margin-top: 2px;
}

.buttons {
  background-color: white;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  position: sticky;
}

.buttons button {
  background-color: #fff;
  border: 1px solid #cbcbcb;
  border-radius: 5px;
  font-weight: bold;
  flex-grow: 1;
  padding: 10px;
}

.buttons button + button {
  margin-left: 10px;
}
